*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
}
.black-green{
    --primary:#242424;
    --secondary:#fff;
    --third:#a1ff82;
    --fourth:#3b3b3b;
    --Nchar:#31572C;
    --Cchar:#eaffda;
    --Echar:#FF6666;
}
.white-green{
    --primary:#fff;
    --secondary:#888888;
    --third:#2dbd3c;
    --fourth:#eee;
    --Nchar:#009a1f;

    --Cchar:#000;
    --Echar:#FF6666;
}


@font-face {
    font-family: 'Inter';
    src: url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}


body{
    background-color: var(--primary);
    color: var(--secondary);
    font-family:'Inter';
}
button{
    color:inherit;
    background-color: inherit;
    padding: 0.6rem 1.2rem;
    border: solid 2px var(--third);
}
button:active{
    background-color: var(--third);
    color: var(--primary);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
