

.container{
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 60px;
    rotate: 90deg;
}

.links{
    list-style: none;
    display: flex;
    gap: 5rem;
}

.links a{
    font-family: 'Inter',sans-serif;
    color:white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 0.6rem 0rem;
}

.links a:hover{
    border-bottom: solid 2px white;
}